<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.eclipse.paho.android.service.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" >
        </service>

        <!-- Main Activity -->
        <activity android:name="org.eclipse.paho.android.service.sample.ClientConnections" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>

        <!-- New Connection Activity -->
        <activity
            android:name="org.eclipse.paho.android.service.sample.NewConnection" 
            android:label="@string/title_activity_new_connection" >
        </activity>


        <!-- Advanced Options Screen -->
        <activity
            android:name="org.eclipse.paho.android.service.sample.Advanced"
            android:label="@string/title_activity_advanced" >
        </activity>

        <!-- Last Will Activity -->
        <activity
            android:name="org.eclipse.paho.android.service.sample.LastWill"
            android:label="@string/title_activity_last_will" >
        </activity>
        
        <!--  Connection Details Activity -->
        <activity
            android:name="org.eclipse.paho.android.service.sample.ConnectionDetails"
            android:label="@string/title_activity_connection_details"
             >
        </activity>
    </application>

</manifest>
