<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.eclipse.paho.android.service">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application />

</manifest>