<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.eclipse.paho.android.service.test">

    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" >
        </service>

    </application>

</manifest>
